img{
	width: 30%;
	float: left;
	/* 30% * 3 = 90% of total space on page. 10% remaining for margin and there are 6 margins we want to edit.
	( 2 margins (left & right margins) per picture per row)
	Math: 10%/6 = 1.66% for each margin to evenly give all pictures enough margin and fill 99.96% of space on page. */
	margin: 1.66%;
}
p{
	font-family: 'Raleway' , sans-serif;
	font-size: 23px;
	text-transform: uppercase;
	margin-left: 1.66%;
	margin-right: 1.66%;
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 20px;
	/*width: 30%;*/
}