table{
	margin: auto;
}
td{
	width: 100px;
	height: 100px;
}
.mid-ver-col{
	border-left: 1.5px solid black;
	border-right: 1.5px solid black;
}
.mid-hor-col{
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
}